html,
body {
  height: 100%;
}

.everything {
    background-color: #E6E6E6;
}
.navbar {
    margin-bottom: 0px;
}

.navbar.navbar-default  {
    margin-bottom: 0px;
}
.glyphicon-bell {
    margin-right: 20px;
}
.notification   {
    width: 300px;
    height: 60px;
}
.summonerpic    {
    width:40px;
    padding-top: 4px;
}
.allpanels  {

}
.panel  {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profilepic {
    margin-top: 25px;
}
.profiel h1 {
    margin-top: 35px;
}

.scoreheader    {
    height: 55px;
}
.btn    {
    margin-right: 10px;
    margin-bottom: 5px;
}
.custom     {
    margin-top: 35px;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
  height: 60px;
}
#footer {
  background-color: #eee;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
#footer {
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}
}
