html,
body {
  height: 100%;
  background-color: #E6E6E6;
}

.everything {
    background-color: #E6E6E6;
    padding-top:60px;
}
.navbar {
    margin-bottom: 0px;
}

/* First letter gets capitalized */
.capitalize{
    text-transform: capitalize;
}

.divider{
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.btn-group{
    margin-left: 20px;
    margin-top: 10px;
}
.navbar.navbar-default  {
    margin-bottom: 0px;
}
.dropdown {
    height: 50px;
}
.dropdown-toggle{
    padding-top: 0px;
}

/*Notifications*/
.notifications   {
    margin-top: 0px;
}
.notifications:hover   {
}
.notification   {
    height: 100%;
}
.glyphicon-exclamation-sign{
    margin-right: 10px;
    margin-top: 5px;
}



.summonerpic    {
    width:40px;
    padding-top: 4px;
}
.allpanels  {

}
.panel  {
    margin-top: 20px;
    margin-bottom: 20px;
}

.profilepic {
    margin-top: 25px;
}
.profiel h1 {
    margin-top: 35px;
}

.scoreheader    {
    height: 55px;
}
.btn    {
    margin-right: 10px;
    margin-bottom: 5px;
}
.homebtn{
    margin-bottom: 0px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.custom     {
    margin-top: 35px;
}


/*Footer*/
.navbar-bottom{
    background-color: #C8C8C8;
    box-shadow: -2px -2px 1px grey;
    height: 100px;
}
.credit {
  margin: 15px 0;
  margin-bottom: 10px;
}



/*Remove background for messages button*/
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: rgba(255,255,255,0);
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
  background: none;
  box-shadow: none;
  -webkit-box-shadow: none;
}



/*Admin panel*/

.container-admin{
    width:85%;
}
.container-admin li{
    margin-left: 30px;
    font-size: 17px;
}
.col-admin{
    padding-left: 3px;
    padding-right: 3px;
}
.col-admin .panel-primary{
    margin-top: 0px;
    margin-bottom: 20px;
}
.col-admin .panel-body{
    margin-left: 10px;
    margin-right: 10px;
}
.adminbutton{
    margin-left: 1px;
    margin-right: 0px;
    margin-bottom: 0px;
    padding-right: 4px;
    padding-left: 4px;
    border-width: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.adminoptions{
    width: 440px;
    padding-top: 1px;
}

.dropdown-menu  {
    margin-bottom: 0;
    padding-bottom: 0;
    margin: 0;
    padding: 0;
}

.divider    {
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
}

.dropdown-menu .divider     {
    padding-top: 1px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0;
}